<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :customer_Name %><br>
    <%= f.text_area :customer_firstName %>
  </div>
  <div class="field">
    <%= f.label :customer_IDNumber %><br>
    <%= f.text_area :IDNumber %>
  </div>
  <div class="field">
    <%= f.label :customer_relationship %><br>
    <%= f.text_area :customer_relationship %>
  </div>
  <div class="field">
    <%= f.label :street_number %><br>
    <%= f.text_area :street_number %>
  </div>
  <div class="field">
    <%= f.label :street_name %><br>
    <%= f.text_area :street_name %>
  </div>
  <div class="field">
    <%= f.label :district %><br>
    <%= f.text_area :district %>
  </div>
  <div class="field">
    <%= f.label :province %><br>
    <%= f.text_area :province %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :mobile_number %><br>
    <%= f.text_field :mobile_number %>
  </div>
  <div class="field">
    <%= f.label :age_group %><br>
    <%= f.text_area :age_group %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_area :gender %>
  </div>
  <div class="field">
    <%= f.label :has_child %><br>
    <%= f.text_field :has_child %>
  </div>
  <div class="field">
    <%= f.label :child_age_group %><br>
    <%= f.text_area :child_age_group %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
